$dark: #10181e;
$light: #f8f8ff;
$rotation: 90deg;

.App {
  display: block;
  white-space: nowrap;
  width: 100%;
}

.hex {
  float: left;
  page-break-inside: avoid;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate($rotation);
  background-color: $dark;
  -webkit-print-color-adjust: exact !important; //make sure colors print
  width: 1.98in;
  height: 2.25in;
  margin: 0 0 0 0.3in;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hex-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-$rotation);
  width: 100%;
}

.hex-inner-text {
  display: flex;
  font-size: 14px;
  text-align: center;
  color: $light;
  margin: auto;
  position: absolute;
  white-space: normal;
  word-spacing: 9999px; //break on every space
}

.hex-ring {
  position: absolute;
  z-index: -100;
  margin: auto;
  border-radius: 50%;
}

.hex-planet {
  z-index: -100;
  border-radius: 50%;
  width: 0.35in;
  height: 0.35in;
}
