$dark: #10181e;
$light: #f8f8ff;
$rotation: 30deg;

.App {
  display: block;
  white-space: nowrap;
  margin: 0in, -0.15in;
  width: 100%;
}

.hex {
  float: left;
  page-break-inside: avoid;
  display: block;
  align-items: center;
  justify-content: center;
  transform: rotate($rotation);
  background-color: $dark;
  -webkit-print-color-adjust: exact !important; //make sure colors print
  width: 1.98in;
  height: 2.25in;
  margin: -0.1in 0.15in;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -webkit-shape-outside: polygon(
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  );
  shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hex-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-$rotation);
  width: 100%;
  height: 100%;
}

.hex-inner-text {
  display: flex;
  font-size: 14px;
  text-align: center;
  color: $light;
  position: absolute;
  white-space: normal;
  word-spacing: 9999px; //break on every space
}

.resource-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: absolute;
  transform: translateY(0.85in);
}

.hex-inner-name-text {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  line-height: 1;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  color: $light;
  transform: translateY(-0.8in);
  position: absolute;
  white-space: normal;
  max-width: 1in;
}
